<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">

    <link rel="stylesheet" type="text/css" href="/css/nav.css">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav navbar-left">
                    <li>
                        <a class="navbar-brand" href="/confirm/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item" th:unless="${user.role.edit}">
                        <a class="nav-link"  href="/new/shift">New Shifts</a>
                    </li>
                    <li class="nav-item" th:if="${user.role.edit}">
                        <a class="nav-link" href="/view/shif">All Shift</a>
                    </li>
                    <li class="nav-item" th:if="${user.role.edit}">
                        <a class="nav-link" href="/manage/users">Manage Users</a>
                    </li>
                    <li class="nav-item" th:if="${user.role.stats}">
                        <a class="nav-link" href="/stats">Stats</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>